---
layout: layouts/base.njk
---
<h3 style="padding-left:30px;">Last 5 posts</h3>
{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
